*{
    color: white;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Itim', cursive;
    }

body{
    background-color:aquamarine
}
  .container{
    width: 700px;
    background-color: #0e2f2f;
margin-left: 450px;
margin-top: 300px;

  } 
  h2{
    text-shadow: 2px 2px 1px rgb(91, 92, 95);
    text-align: center;
    margin-bottom: 10px;
   
  }
  form{
    text-align: center;
    margin-bottom: 100px;
  }
 #margin{
  padding-bottom: 30px;
  margin-bottom: 30px;
 }
 #age{
  margin-bottom: 40px;
 }
 input{
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(83, 83, 82);
  

 }
 button{
  margin: 20px;
  font-size: medium;
  background-color: rgb(247, 173, 82);
  
  border-radius: 10px;
  padding: 10px;

 }
 a{

  margin: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
 }
 